*{
    margin:0;
    padding:0;
}
body{
    margin:20px;
}
.block{
    background:rgb(0,255,255);
    display:flex;
    border:1px solid green;
}
.left{
    width:20%;
}
.left div{
    background:rgb(255,228,196);
    width:95%;
    min-width:150px;
}
.left div ul{
    padding:20px;
    margin-left:20px;
}
.right{
    width:80%;
    min-width:600px;
    background:grey;
}
img{
    float:right;
    width:50%;
}
.clear{
    clear:right;
}