*{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    display:flex;
}
.left{
    width:15%;
}
.right{
    width:85%;
    background:rgb(169,169,169)
}
.first{
    background:rgb(255,228,196);
    height: 40%;
}
.first ul{
    padding:15px 40px;
}
.second{
    background:rgb(0,255,255);
    height: 60%;
}
footer{
    position: absolute;
    bottom:0;
    height: 100px;
    width:100%;
    background:rgb(50,205,50)
}