*{
    margin:0;
    padding:0;
}
.main{
   width:100%;
}
.block{
   display:inline-block;
   margin:40px;
   width:140px;
   height: 110px;
   background:rgb(127,255,212)
}
.clear{
   background:rgb(250,235,215);
   width:100%;
   clear:both;
}
